/* flip the pane when hovered */
.card.flipped .flipper {
    transform: rotateY(180deg);
}

.card {
    display: inline-block;
}

.card, .front, .back {
    width: 150px;
    height: 150px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.back img {
    width: 100%;
    height: 100%;
}

/* front pane, placed above back */
.front {
    background-color: #ccc;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    background-color: red;
    transform: rotateY(180deg);
}