/**
* Clientside Project: Routeplanner Trains
* CSS of Project (date , autofill [jquery-ui-1.12.1] -and timepicker excluded)
*
* @author: Lorenzo Longo
* @email: Lorenzo.longo@student.odisee.be
* @date: 27/10/2018
*
 */

/*
======================================
FONTS
======================================
 */

@font-face {
    font-family: Governor;
    src: url(../fonts/governor.ttf);
}

@font-face {
    font-family: "Ikaros";
    src: url(../fonts/Ikaros-Regular.otf);
}

@font-face {
    font-family: "Ikaros Light";
    src: url(../fonts/Ikaros-Light.otf);
}


/*
======================================
MAIN CSS
======================================
 */

html {
    font-size: 62.5%; /* 10px */
}

* {
    margin: 0rem;
    padding: 0rem;
}

/* wrapper max- and min-width */
.wrapper {
    width: 96rem;
    max-width: 96rem;
    min-width: 32rem;
}

/* hidden structural HTML code elements */
.structural {
    position: absolute;
    left: -9999px;
}

/* main body CSS */
body {
    font-family: Governor;
    font-size: 1.5rem;
    color: #F3E0DC;
    padding: 1rem;
    overflow: hidden;
}

main {
    opacity: 0.9;
}

/* index background video */
#backgroundVideo {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: -1;
}


/*
======================================
HEADINGS
======================================
 */

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1.5vw;
    letter-spacing: 3px;
}


/*
======================================
TITLE SECTION
======================================
 */

#mainTitle {
    margin: 40rem 0rem -55rem 6rem;
}

#mainTitle p {
    width: 100%;
    font-size: 1.5vw;
    margin: 1rem 0rem 0rem 2rem;
    z-index: 0;
}

/* make words smaller inside the title (h1) */
#smallFont {
    font-size: 2.5vw;
}


/*
======================================
FORM CONTAINER
======================================
 */

/* main form CSS */
.formContainer {
    font-family: Ikaros;
    text-transform: uppercase;
    color: #D2691E;
    margin: 27rem -90rem 0rem 100rem;
    padding: 2rem 0rem 4rem 2rem;
    background-color: #222629;
    border-radius: 5px;
}

/* links inside the form (saved rides/live)*/
.linksForm {
    font-family: "Ikaros Light";
    font-size: 1vw;
    color: #F3E0DC;
    margin: -3rem 0rem 0rem 68rem;
    float: left;
}

.linksForm:hover {
    text-decoration: none;
}

#savedTrainRides {
    margin-left: 54rem;
}

fieldset {
    border: 0;
}

/* input fields CSS */
.formContainer input[type=text] {
    font-family: Ikaros;
    text-transform: uppercase;
    color: #D2691E;
    margin: 4.5rem 0rem 1rem -20rem;
    padding: 2rem 0rem 2rem 0rem;
    border: 0;
    border-radius: 5px;
}


/*
======================================
LABELS
======================================
 */

label {
    font-size: 1vw;
    padding: 1.2rem 1.2rem 1.2rem 0;
    letter-spacing: 1px;
    display: inline-block;
}

label:hover {
    text-shadow: 2px 1px #F3E0DC;
}


/*
======================================
INPUT FIELDS
======================================
 */

input {
    font-size: 0.75vw;
}

input:hover {
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.25rem #D2691E;
}

input:focus {
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.25rem #D2691E;
}

input::placeholder {
    font-family: "Ikaros Light";
    font-size: 0.8vw;
}

input#qstFromStation, #qstToStation, #qstStation {
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    background-position: 0.6rem;
    padding-left: 3.5rem;
}

input#calendar {
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-position: 0.6rem;
    padding-left: 3.5rem;
}

input#time {
    background-image: url(../images/time.png);
    background-repeat: no-repeat;
    background-position: 0.6rem;
    padding-left: 3.5rem;
}


/*
======================================
ERROR MESSAGES
======================================
 */

.invalid {
    box-shadow: 0 0 2.5rem 0 rgba(227, 64, 100, 0.8);
}

.valid {
    box-shadow: 0 0 2.5rem 0 rgba(64, 227, 100, 0.8);
}

.message {
    font-style: italic;
    color: #FF0000;
}

.message--error {
    font-size: 0.9vw;
    margin: 0rem 0rem -2rem -1rem;
    display: none;
    color: #FF0000;
}


/*
======================================
POSITIONING FORM (SEARCH TRAINRIDES)
======================================
 */

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Floating column for labels */
.col-25 {
    width: 25%;
    margin-top: 0.6rem;
    float: left;
}

/* Floating column for inputs */
.col-75 {
    width: 75%;
    margin-top: 0.6rem;
    float: left;
}

#positioningRow {
    margin: -12rem 0rem 0rem 65rem;
}

#submitPosition {
    margin: -7.5rem 0rem 0rem 52rem;
}


/*
======================================
FORM LIVEBOARD
======================================
 */

#formLiveboard {
    display: none;
}

/*Dynamically generated data CSS*/
#containerLiveBoard {
    height: 350px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

#containerLiveBoard::-webkit-scrollbar {
    display: none;
}


/*
======================================
FORM LOCALSTORAGE SAVED TRAIN RIDES
======================================
 */

#containerSavedTrainRides {
    display: none;
}

/*Dynamically generated data CSS*/
#containerSaved {
    height: 350px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

#containerSaved::-webkit-scrollbar {
    display: none;
}


/*
======================================
FORM LOCALSTORAGE SAVED TRAIN RIDES (LAYOUT)
======================================
 */

.divTableBody {
    font-size: 1vw;
    width: 100%;
    display: inline-flex;
}

.divTableRow {
    width: 100%;
    clear: both;
}

.divTableCell {
    width: 16%;
    text-align: left;
    margin-right: 3rem;
    padding: 1rem 0rem 1rem 0rem;
    float: left;
    overflow: hidden;
}

.line {
    width: 97%;
    border-bottom: 3px double #D2691E;
}

.liveboardLinks {
    color: #D2691E;
    text-decoration: none;
}


/*
======================================
DETAILED TRAININFO PAGE
======================================
 */

#trainInfoPage {
    display: none;
}


/*
======================================
BREADCRUMB
======================================
 */

.breadcrumb {
    z-index: 100;
    list-style-type: none;
    margin: 6rem 0rem 0rem 140rem;
    position: fixed;
}

.breadcrumb a {
    font-family: "Ikaros Light";
    font-size: 1vw;
    color: #F3E0DC;
}

.breadcrumb a:hover {
    text-decoration: none;
}


/*
======================================
TRAINRIDES CONTAINER
======================================
*/

#trainRidesContainer {
    font-family: Ikaros;
    font-size: 1vw;
    color: #D2691E;
    text-transform: uppercase;
    margin: 2rem 71rem 0rem 35rem;
    padding: 2rem 0rem 1.5rem 0rem;
    position: fixed;
    background-color: #222629;
    border-radius: 5px;
}

/* Dynamicly generated h2*/
#trainTitle {
    margin: -84rem 0rem 0rem 3rem;
    position: fixed;
}


/*
======================================
LAYOUT TRAIN RIDES (LISTED)
======================================
*/

.layoutTrainData {
    margin: 1rem 0.3rem -1rem 0.3rem;
    padding: 2rem 0rem 0rem 2rem;
}

.layoutTrainData:hover, .layoutTrainData:active {
    background-color: #F3E0DC;
    border-radius: 5px;
    box-shadow: 0rem 0rem 0rem 0.25rem #D2691E;
}

.layoutTrainData a {
    color: #F3E0DC;
    padding: 16rem 103rem 0rem 10rem;
    text-decoration: none;
}

.layoutTrainData a:hover, .layoutTrainData a:active {
    text-decoration: none;
}

.layoutTrainData:hover a, .layoutTrainData:active a {
    color: #222629;
}


/*
======================================
DATA INSIDE ONE LISTITEM
======================================
*/

.firstLine {
    width: 46%;
    margin: 0rem 0rem 1rem 0rem;

}

.secondLine {
    width: 46%;
    margin: 0rem 0rem 1rem 1rem;
}

.lines {
    stroke: #F3E0DC;
    stroke-width: 5px;
}

.layoutTrainData:hover .lines, .layoutTrainData:active .lines {
    stroke: #D2691E;
}

.trainIcon {
    width: 5%;
    height: 5%;
    margin: -1rem 0rem 0rem 1rem;
}

.layoutTrainData:hover .trainIcon, .layoutTrainData:active .trainIcon {
    content: url("../images/train_orange.png");
}

.departure {
    margin: 0rem 0rem 0rem 20rem;
}

.duration {
    margin: -3.5rem 0rem 0rem 62rem;
}

.arrival {
    margin: -3.5rem 0rem 0rem 92rem;
}

.platform {
    margin: 2rem 0rem 0rem 20rem;
}

.platform2 {
    margin: -3rem 0rem 0rem 92rem;
}

.otherFont {
    font-family: "Ikaros Light";
    margin: 1rem 1rem -2.5rem -17rem;
}


/*
======================================
MAKE TRAIN RIDE LIST SCROLLABLE
======================================
*/

#trainRidesList {
    height: 800px;
    margin: 5rem 0rem 0rem 0rem;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-y: scroll;
}

#trainRidesList::-webkit-scrollbar {
    display: none;
}


/*
======================================
DETAILED TRAIN INFO
======================================
*/

#detailedInfoContainer {
    font-family: Ikaros;
    color: #D2691E;
    text-transform: uppercase;
    width: 21%;
    margin: 10rem 0rem 0rem 58rem;
    padding: 1rem 30rem 0rem 0rem;
    position: fixed;
    display: none;
    background-color: #F3E0DC;
    border: #D2691E solid 3px;
    border-radius: 5px;
}

/*Dynamicly generated content CSS*/
#detailedTrainRideInfo {
    width: 159%;
    margin-top: -3rem;
    margin-left: 3rem;
    text-align: center;
}

/*CSS to map stations*/
#map {
    height: 300px;
    width: 150%;
    margin-left: 5rem;
}


/*
======================================
DETAILED INFO LAYOUT
======================================
*/

.popupTable {
    font-size: 1vw;
    width: 100%;
    margin-left: 4rem;
}

.popupRow-1, .popupRow-2, .popupRow-3, .popupRow-4, .popupRow-5 {
    width: 100%;
    margin-top: 1rem;
    display: inline-flex;
}

.popupCell-1 {
    margin-left: 5rem;
    margin-bottom: 2rem;
    padding-right: 18rem;
}

.popupCell-2 {
    width: 100%;
    margin-bottom: 2rem;
    padding-right: 10rem;
}

.popupCell-3 {
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    padding-right: 36rem;
}

.popupRow-4 {
    width: 82%;
    border-top: 6px double #D2691E;
}

.popupCell-4 {
    margin-left: -2rem;
    padding-right: 18.2rem;
}

.popupRow-5 {
    margin-bottom: 1rem;
}

.popupCell-5 {
    width: 0%;
    margin-left: 23.5rem;
}


/*
======================================
DETAILED INFO BUTTONS
======================================
*/

.btn {
    font-family: Ikaros;
    font-size: 1vw;
    color: #222629;
    text-transform: uppercase;
    padding: 2rem 3rem 2rem 3rem;
    background-color: #D2691E;
    border: 0;
    border-radius: 5px;
}

.btn:hover {
    text-shadow: 1px 1px #F3E0DC;
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.25rem #F3E0DC;
}

.btn:focus {
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.25rem #F3E0DC;
}

/*To close the detailed info pop-up*/
#closeBtn {
    color: transparent;
    text-transform: uppercase;
    margin: 0rem 0rem 0rem 65rem;
    padding: 1rem 2rem 2rem 1rem;
    background: url("../images/cancel.png") no-repeat ;
    background-size: 100%;
    border: none;
}

#closeBtn:hover {
    color: transparent;
    text-transform: uppercase;
    margin: 0rem 0rem 0rem 65rem;
    padding: 1rem 2rem 2rem 1rem;
    background: url("../images/cancel_hover.png") no-repeat;
    background-size: 100%;
    border: none;
}

button#saveToStorageBtn {
    margin: 3rem 0rem 2rem 9rem;
}

#buyBtn {
    width: 50%;
    margin: -8.5rem 0rem 0rem 38rem;
    float: left;
}

/*Message that shows when a train ride is added succesfully to the browsers Localstorage*/
#addSuccesful {
    font-size: 1vw;
    color: rgba(56, 179, 58, 0.8);
    margin: -2rem 0rem 0rem 9.5rem;
    float: left;
}


/*
======================================
MEDIA QUERIES
======================================
 */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 117em) {
    .formContainer {
        margin: 27rem -83rem 0rem 95rem;
    }
}

@media screen and (max-width: 112.5em) {
    .formContainer {
        margin: 18rem -65rem 0rem 80rem;
    }

    #mainTitle {
        width: 75%;
    }

    #liveboardSearch {
        margin-left: 65rem;
    }

    #linkFormSearchTrainRides {
        margin-left: 62rem;
    }

    .divTableCell {
        width: 20%;
        margin-right: 0rem;
    }

    #linkFormSearchTrainRide {
        margin-left: 62rem;
    }

    #closeBtn {
        margin-left: 63rem;
    }

    #closeBtn:hover {
        margin-left: 63rem;
    }

    .popupCell-3 {
        padding-right: 33rem;
    }

    .popupCell-2 {
        padding-right: 10rem;
    }

    .popupRow-2 {
        width: 110%;
    }
}

@media screen and (max-width: 108.125em) {
    #closeBtn {
        margin-left: 62rem;
    }

    #closeBtn:hover {
        margin-left: 62rem;
    }
}

@media screen and (max-width: 106.25em) {
    #backgroundVideo {
        width: 135%;
    }

    .layoutTrainData a {
        padding-top: 14rem;
    }
}

@media screen and (max-width: 104.375em) {
    #closeBtn {
        margin-left: 59rem;
    }

    #closeBtn:hover {
        margin-left: 59rem;
    }
}

@media screen and (max-width: 101.25em) {
    .formContainer {
        margin: 18rem -55rem 0rem 70rem;
    }

    #mainTitle {
        width: 65%;
        margin: 30rem 0rem -55rem 6rem;
    }
}

@media screen and (max-width: 100em) {
    .layoutTrainData a {
        padding-top: 12rem;
    }

    #trainRidesContainer {
        margin-left: 20rem;
    }

    .breadcrumb {
        margin: 5rem 0rem 0rem 125rem;
    }
}

@media screen and (max-width: 97.18em) {
    div.timepicker > ul > li {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 95em) {
    .formContainer {
        margin: 60rem -15rem 0rem 28rem;
    }

    #mainTitle {
        width: 100%;
        margin: 2rem 0rem -55rem 24rem;
    }

    #linkFormSearchTrainRides {
        margin-top: -2rem;
        margin-left: 67rem;
    }

    .layoutTrainData a {
        padding-top: 10.5rem;
    }
}

@media screen and (max-width: 90.625em) {
    .layoutTrainData {
        padding: 2rem 0rem 5rem 2rem;
    }

    .duration {
        margin-top: -2.5rem;
    }

    .arrival {
        margin-top: -2.5rem;
    }

    .platform {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 87.5em) {
    #trainRidesContainer {
        margin-left: 10rem;
    }

    .breadcrumb {
        margin-left: 116rem;
    }
}


@media screen and (max-width: 85em) {
    #liveboardSearch {
        font-size: 1.2vw;
        margin-top: -2rem;
    }

    #savedTrainRides {
        font-size: 1.2vw;
        margin-top: -1.6rem;
    }
}

@media screen and (max-width: 82.5em) {
    .formContainer {
        margin: 60rem -5rem 0rem 20rem;
    }

    #mainTitle {
        margin: 2rem 0rem -55rem 17rem;
    }

    div.timepicker > ul > li {
        font-size: 0.8vw;
    }

    div.timepicker > ul {
        max-height: 56px;
    }

    #linkFormSearchTrainRide {
        margin-left: 66rem;
    }
}

@media screen and (max-width: 81em) {
    .formContainer input[type=text]{
        padding: 2rem 7rem 2rem 0rem;
    }

    .breadcrumb {
        margin-left: 98rem;
    }

    .layoutTrainData a {
        padding-right: 82rem;
    }

    .firstLine {
        width: 45%;
    }

    .secondLine {
        width: 45%;
    }

    .duration {
        margin-left: 51rem;
    }

    .arrival {
        margin-left: 81rem;
    }

    .platform2 {
        margin-left: 81rem;
    }
}

@media screen and (max-width: 78.75em) {
    #backgroundVideo {
        width: 170%;
    }

    .divTableBody {
        font-size: 1.2vw;
    }

    #linkFormSearchTrainRides {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 78.75em) {
    #savedTrainRides {
        margin-top: -2rem;
    }
}

@media screen and (max-width: 72.1875em) {
    .formContainer {
        margin: 58rem 0rem 0rem 13rem;
    }

    .formContainer input[type=text] {
        padding: 2rem 7rem 2rem 0rem;
    }

    input[type=submit] {
        margin: 0rem 0rem 0rem -2rem;
        padding: 2rem 6rem 2rem 6rem;
    }

    #mainTitle {
        margin: 2rem 0rem -55rem 8rem;
    }

    div.timepicker > ul > li {
        font-size: 0.8vw;
    }

    #linkFormSearchTrainRide {
        font-size: 1.2vw;
        margin-left: 69rem;
    }
}

@media screen and (max-width: 71.875em) {
    .duration {
        margin-top: -3.5rem;
    }

    .otherFont {
        margin-top: 2rem;
    }
}

@media  screen and (max-width: 68.75em) {
    .breadcrumb {
        margin-left: 75rem;
    }

    .layoutTrainData a {
        padding-right: 60rem;
    }

    .arrival {
        margin-left: 66rem;
    }

    .duration {
        margin-left: 44rem;
    }

    .platform2 {
        margin-left: 66rem;
    }
}

@media screen and (max-width: 65.625em) {
    .layoutTrainData a {
        padding-top: 8.5rem;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 62.5em) {
    .divTableBody {
        font-size: 1.3vw;
    }

    #linkFormSearchTrainRides {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 62.5em) {
    #backgroundVideo {
        width: 205%;
    }

    #mainTitle {
        margin: 2rem 0rem -55rem 0rem;
    }

    #qstToStation {
        margin-top: 5.5rem;
        margin-left: -22rem;
    }

    input::placeholder {
        font-size: 1.5vw;
    }

    input {
        font-size: 1.5vw;
    }

    label {
        font-size: 1.5vw;
    }

    h2 {
        font-size: 2vw;
    }

    .formContainer {
        margin: 58rem 10rem 0rem 0rem;
    }

    .formContainer input[type=text] {
        margin: 3.5rem 0rem 0rem -19rem;
        padding: 2rem 3rem 2rem 0rem;
    }

    input[type=submit] {
        font-size: 1.5vw;
        margin: 0rem 0rem 0rem 4rem;
    }

    #submitPosition {
        margin: -7.5rem 0rem 0rem 48rem;
    }

    div.timepicker > ul {
        margin: 0rem 0rem 0rem -19rem;
    }

    div.timepicker > ul > li {
        font-size: 1vw;
        line-height: 500%;
    }

    #liveboardSearch {
        font-size: 1.5vw;
        margin-left: 70rem;
        padding: 0.5rem;
    }

    #savedTrainRides {
        font-size: 1.5vw;
        margin-top: -2rem;
        margin-left: 59rem;
    }

    #linkFormSearchTrainRide {
        font-size: 1.3vw;
        margin-left: 71rem;
    }
}

@media screen and (max-width: 54.7em) {
    .formContainer {
        margin: 58rem 25rem 0rem 0rem;
    }

    .formContainer input[type=text] {
        margin: 3.5rem 0rem 0rem -17rem;
        padding: 2rem 0rem 2rem 0rem;
    }

    input[type=submit] {
        margin: 0rem 0rem 0rem -8rem;
    }

    #qstToStation {
        margin-left: -30rem;
    }

    div.timepicker > ul {
        margin: 0rem 0rem 0rem -19rem;
    }

    #liveboardSearch {
        margin-left: 56rem;
    }

    #linkFormSearchTrainRides {
        margin-left: 59rem;
    }

    #savedTrainRides {
        font-size: 1.3vw;
        margin-top: -1rem;
        margin-left: 46rem;
    }

    #linkFormSearchTrainRide {
        margin-left: 58rem;
    }
}

@media screen and (max-width: 53.125em) {
    #trainRidesContainer {
        margin-left: 5rem;
    }

    .breadcrumb {
        margin-left: 71rem;
    }
}

@media screen and (max-width: 51.875em) {
    #backgroundVideo {
        width: 240%;
    }

    #liveboardSearch {
        font-size: 1.7vw;
    }

    #linkFormSearchTrainRides {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 45em) {
    #backgroundVideo {
        width: 275%;
    }

    .formContainer {
        width: 29%;
        margin: 58rem 24rem 0rem 17rem;
    }

    #qstToStation {
        margin: 15rem 0rem 0rem 0rem;
        margin-left: -66rem;
    }

    #submitPosition {
        margin: 3.5rem 0rem 0rem 10rem;
    }

    #liveboardSearch {
        font-size: 1.8vw;
        margin-top: -2.5rem;
        margin-left: 18rem;
    }

    #qstStation {
        margin-left: -7rem;
    }

    #linkFormSearchTrainRides {
        margin-top: -1.7rem;
        margin-left: 19.5rem;
    }

    #savedTrainRides {
        margin-top: -3rem;
        margin-left: 18.5rem;
        padding-bottom: 2rem;
    }

    #linkFormSearchTrainRide {
        font-size: 1.4vw;
        margin-top: -2rem;
        margin-left: 20rem;
    }
}

@media screen and (max-width: 40.44em) {
    .formContainer input[type=text] {
        padding: 2rem 4rem 2rem 0rem;
    }

    .formContainer {
        margin: 58rem 24rem 0rem 8rem;
    }
}

@media screen and (max-width: 38.75em) {
    #backgroundVideo {
        width: 315%;
    }
}

@media screen and (max-width: 36em) {
    #linkFormSearchTrainRides {
        font-size: 1.7vw;
    }

    .divTableBody {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 31.44em) {
    .formContainer input[type=text] {
        margin: 3rem 9rem -1rem -17rem;
        padding: 2rem 9rem 2rem 0rem;
    }

    input[type=submit] {
        margin: 0rem 0rem 0rem -6rem;
    }

    #qstStation {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 28.125em) {
    #backgroundVideo {
        width: 415%;
    }

    .formContainer {
        margin: 58rem 24rem 0rem 3rem;
    }

    #liveboardSearch {
        margin-top: -1.5rem;
    }

    #savedTrainRides {
        font-size: 2vw;
        margin-top: -2rem;
    }
}

@media screen and (max-height: 51.25em) {

    #mainTitle {
        margin: 22rem 0rem -55rem 6rem;
    }
}

@media screen and (max-height: 43.75em) {

    #mainTitle {
        margin: 20rem 0rem -55rem 6rem;
    }
}